:root {
    --first-img-sc: url('https://intelli-guide-pi.vercel.app/_next/static/media/Questions-bro.a1b55ec9.svg');
    --second-img-sc: url('https://intelli-guide-pi.vercel.app/_next/static/media/interrogation.3a881137.svg');
    --third-img-sc: url('https://intelli-guide-pi.vercel.app/_next/static/media/problem-solving.71067dec.svg');
}


.text-intro-first_sc,
.text-intro-second_sc,
.text-intro-third_sc {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
}

.text-intro-first_sc p,
.text-intro-second_sc p,
.text-intro-third_sc p {
    padding: 1rem;
    margin: auto 1rem;
    text-align: start;
    font-weight: 300;
}

.text-intro-first_sc h3,
.text-intro-second_sc h3,
.text-intro-third_sc h3 {
    text-align: center;
    margin-top: 1rem;
}

.text-intro-first_sc button,
.text-intro-second_sc button,
.text-intro-third_sc button {
    border: 1px solid transparent;
    width: 7rem;
    height: 1.5rem;
    border-radius: 4px;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 0.5s; /*Efeito para o hover*/
}


.text-intro-first_sc button,
.text-intro-third_sc button{
    background: #34d399;
    color: #ffff;
}

.text-intro-second_sc button {
    background: #FFFF;
    color: #000;
}

.text-intro-first_sc button:hover,
.text-intro-second_sc button:hover,
.text-intro-third_sc button:hover {
    transform: scale(1.5);
}

.img-info,
.img-info_second_sc,
.img-info_third_sc {
    display: inline-block;
    margin: 0 auto;
    background-repeat: no-repeat;
    width: 23rem;
    height: 17rem;
    background-position: center;
}

.img-info {
    background-image: var(--first-img-sc);
}

.img-info_second_sc {
    background-image: var(--second-img-sc); 
}

.img-info_third_sc {
    background-image: var(--third-img-sc);
}

.secund_sc_info {
    background: #16a34a;
    color: #FFFF;
}

/* .text-intro-second_sc h3{
    text-align: center;
    margin-top: .5rem;
    } */